

* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}


html {
    margin: 0;
    padding: 10px;
    background-color: rgba(75, 88, 95, 1);
}

body {
    font-family: tahoma, arial, helvetica, lucida sans, sans-serif;
    color: rgba(75, 88, 95, 1);
    
    background-color: rgba(0, 0, 0, 1);
    
    background-image: url("../img/provence2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    
    line-height: normal;
    border: 1px solid rgba(0, 0, 0, 1);
    display: block;
    
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    
    padding: 10px;
    clear: both;
    z-index:210px;
}

main{
    display: block;
    position:relative;
    
    width: 100%;
    
    margin: 10px;
    padding: 10px;
    
    clear: both;
    
    border:1px solid rgba(0,0,0,1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

article {
    display: inline-block;
    width: 50%;
    float: left; 
}

aside {
    
    display: inline-block;
    width: 50%;
    float: right;
    

    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); */
}

section {
    margin: 0 10px 0 0;
    padding: 0;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 10px;
    background-color: rgba(255,255,255,1);
}

section:hover {
    /*
    transition: background-color 2s;
    transform: translate(2px, 2px);
    background-color:rgba(30,115,190,0.2);
    border:1px solid rgba(0,0,0,1);
    */
}

section h2{
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10px;
}

section h3{
    padding: 10px;
}

section ul{
    padding: 5px 10px 5px 20px;
}

section li{
    padding: 5px 10px 5px 10px;
}

div.Informations {
    display: none;
    position: absolute;
    z-index: 215;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.98);
    border: 1px solid rgba(0, 0, 0, 0.95);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5), inset -1px -1px 3px rgba(0, 0, 0, 0.5);
    clear: both;
}

div#MeContacter:target {
    position:absolute;
    width:100%;
    top:0;
    left:0;
    margin:0;
    
    display: block;
    clear: both;
    z-index: 210;
}

.informations p {
    text-align: center;
}

#Fermer img {
    width: 48px;
}

a#Fermer {
    display: block;
    text-align: right;
    top: 5px;
    right: 5px;
}

#Fermer {
    position: relative;
}

@keyframes ZoomMenu {
    0% {
        width: 64px;
        height: 64px;
    }
    50% {
        width: 80px;
        height: 80px;
    }
    100% {
        width: 64px;
        height: 64px;
    }
}

button {
    height: 40px;
}

.LesBoutons{
    z-index: 212;

}

img.Photo{
    width:100%;
    
    display:block;    

    border-radius: 10px;
    
    filter: saturate(0);
    /*filter: saturate(0); */
}

:hover.Photo {
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);    

    border-radius: 50%;
    transition: all 225ms ease-in-out 0ms;
    filter: saturate(1);
}


#TitreDePage {
    margin-left: -3000px;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-name: SlideHeader;
    animation-fill-mode: forwards;
}

@keyframes SlideHeader {
    from {
        margin-left: -3000px;
    }
    to {
        margin-left: 0px;
    }
}

#Poste {
    Position: relative;
    top: -1000px;

    animation-delay: 0s;
    animation-duration: 4s;
    animation-name: SlidePoste;
    animation-fill-mode: forwards;
}

@keyframes SlidePoste {
    from {
        top: -1000px;
    }
    to {
        top: 0px;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 20px;
    font-weight: 580;
}

h3 {
    font-size: 18px;
    font-weight: 560;
}

h4 {
    font-size: 17px;
    font-weight: 540;
}

h5 {
    font-size: 16px;
    font-weight: 520;
}

h6 {
    font-size: 15px;
    font-weight: 500;
}

a,
a:link,
a:visited,
a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}



#Loisirs img {
    display: block;
    width: 48px;
    margin: 5px;
}

#Loisirs img.zoom {
    margin: 5px;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#Loisirs img.zoom:hover {
    display: block;
    width: 99%;
    margin: 5px;
    transition: all 500ms ease-in-out 0ms;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#Loisirs ul li,
#Loisirs ul {
    display: block;
    clear: both;
}

@keyframes chaussure {
    0% {
        margin-left: 0%;
    }
    50% {
        margin-left: 50%;
    }
    100% {
        margin-left: 0%;
    }
}
#cible:target {
    display: block;
}
@keyframes zoomout {
    from {
        width: 130px;
    }
    to {
        width: 0px;
    }
}
@keyframes bombeout {
    from {
        margin-left: 0px;
        width: 128px;
    }
    to {
        margin-left: 2500px;
        width: 0px;
    }
}
@keyframes descendre {
    from {
        top: -2550px;
    }
    to {
        top: 0px;
    }
}

li {
    list-style: none;
    margin: 0;
}

#titre {
    animation-delay: 3s;
    animation-duration: 5s;
    animation-name: slideleft;
    animation-fill-mode: forwards;
    height: 50px;
    overflow: hidden;
    margin-left: 2550px;
}

p {
    padding: 10px;
}

#formations {
    clear: both;
    z-index: 1;
    overflow: hidden;
}

#diviseur,
.diviseur {
    display:block;
    clear: both;
    margin: 0;
    padding:0;
    content: ' ';
}

@keyframes monter {
    from {
        top: 6550px;
    }
    to {
        top: 0px;
    }
}
@keyframes descendre {
    from {
        top: -2550px;
    }
    to {
        top: 0px;
    }
}
@keyframes diagonale {
    from {
        left: -3000px;
        top: 6000px;
    }
    to {
        left: 0px;
        top: 0px;
    }
}

@media only screen and (min-device-width: 501px) and (max-device-width: 1280px) and (orientation:portrait) {}

@media only screen and (max-width: 1024px) {
    html {
        margin: 0;
        padding: 10px;
    }
    body {
        margin: 0;
        padding: 50px 10px 10px 10px;
    }
    main {
        margin: 0;
        padding: 0;
    }
    article {
        display: block;
        width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
    }
    aside {
        width: 100%;
        display: block;
        position: relative;
        margin: 0;
        padding: 0 0 25px 0;
    }
    section {
        width: 100%;
        display: block;
        position: relative;
        margin: 10px;
        padding: 5px;
    }
    section#Competences,
    section#Loisirs,
    section#Formations,
    section#Nom {
        margin: 10px 0 10px 0;
    }
}

@media(min-width:1200px) {}

@media(min-width:992px) {}

@media(min-width:768px) {}

@media(max-width:480px) {
    * {
        font-size: 100%;
    }
}


.marge {
    margin: 10px;
}

.padde {
    padding: 10px;
}

.centre {
    text-align: center;
}

.droite {
    text-align: right;
}

.blanc {
    color: rgba(255, 255, 255, 1);
}
.FondGris {
    background-color: rgba(75, 88, 95, 1);
}

.FondBlanc {
    background-color: rgba(255, 255, 255, 1);
}

form {
    width: 100%;
    margin: 0;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

input:required {
    background-color: rgba(255, 0, 0, 0.2);
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    margin: 5px;
    padding: 5px;
    resize: none;

}

input[type=reset] {
    width: 30%;
    display: inline;
}

input[type=submit] {
    width: 65%;
    display: inline;
}

form i {
    font-size: smaller;
    font-weight: normal;

}