@media screen and (max-width: 499px) {
    html{padding:10px;}
    article, aside {
        width: 100%;
        min-width: 80%;
        display:block;
    }
}

.centre{text-align: center;}

*{    
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

html {
	margin: 0;
	padding: 50px;
    background-color: rgba(0,0,0,1);
}

body{
    font-family: tahoma, arial, helvetica, lucida sans, sans-serif;
    
    color:rgba(0,0,0,1);
    background-color: rgba(255,255,255,1);
    
    margin:auto auto; 
    padding:10px;
    
    line-height:normal;
    
    border: 1px solid rgba(255,255,255,0.3); 
    border-radius:20px;
    
    display: block;
    width: 100%;
}

header{
    /*
    border-bottom: 1px solid rgba(0,0,0,1);
    filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.2));
    */
    clear:both;   
}

header h1, header h2{text-align: center;}

#TitreDePage{
    margin-left: -3000px;
    
    animation-delay: 1s;
    animation-duration: 4s;
    animation-name: SlideHeader; 
    animation-fill-mode: forwards;    
}

@keyframes SlideHeader {
  from {margin-left: -3000px;}
  to {margin-left: 0px;}
}

#Poste{
    Position: relative;
    top: -1000px;
    
    animation-delay: 0s;
    animation-duration: 4s;
    animation-name: SlidePoste; 
    animation-fill-mode: forwards;      
}

@keyframes SlidePoste {
  from {top: -1000px;}
  to {top: 0px;}
}

#Mission{font-weight:smaller;}

main{
  display:block;
  width:100%;
  margin:0 auto;
  clear:both;   
}

article{
    display: inline-block;
    width:  45%;
    float: left;
    border-right: 0px solid rgba(0,0,0,0.2);
}

aside{
    display: inline-block;
    width:  55%;
    float: right; 
}

h1, h2, h3, h4, h5, h6{
  text-shadow:1px 1px 1px rgba(0,0,0,0.1);
  padding:0 10px;
}

h1{font-size: 24px;font-weight:600;
    text-shadow:2px 2px 2px rgba(0,0,0,0.2);}
h2{font-size: 20px;font-weight:580;}
h3{font-size: 18px;font-weight:560;}
h4{font-size: 17px;font-weight:540;}
h5{font-size: 16px;font-weight:520;}
h6{font-size: 15px;font-weight:500;}

a, a:link, a:visited,a:hover{
  color:rgba(0,0,0,1);
  text-decoration:none;
}

section{
    margin:0;
    padding:0;
    background-color: inherit;
    border:1px solid rgba(0,0,0,0);
    
    transition: background-color 3s;
    transform: translate(2px,2px);    
}

section:hover{
    /*
    background-color:rgba(30,115,190,0.2);
    border:1px solid rgba(0,0,0,1);
    */
}

div#MenuPage{
    position: absolute;
    top: 32px;
    left: 32px;
    
    width: 64px;
    height: 64px;
    
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 4px;
    
    overflow: hidden;
    
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,1);
    background-image: url("/img/Iphone-Disk.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
    animation-delay: 1s;
    animation-duration: 3s;
    animation-name: SlidePhoto; 
    animation-fill-mode: forwards;    
}

div#PhotoDaniel{
    position: absolute;
    top: 10px;
    right: -200px;
    
    width: 120px;
    height: 120px;
    
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 75px;
    overflow: hidden;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.15);
    background-color: rgba(255,255,255,1);
    background-image: url("/img/Photo_Daniel.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
    animation-delay: 1s;
    animation-duration: 3s;
    animation-name: SlidePhoto; 
    animation-fill-mode: forwards;    
}

div:hover#PhotoDaniel{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    transition: all 225ms ease-in-out 0ms; 
    top: 10px;
    right: 10px;    
}

#PhotoDaniel img{
    width: 100%;
}

@keyframes SlidePhoto {
  from {right: -200px}
  to {right: 10px;}
}

#MeContacter{
    display:none;
    position: absolute;
    z-index: 10;
    
    top: 25%;
    left:25%;
    
    width: 50%;

    /* ratio 1.54 */
    
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(0,0,0,0.95);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5),inset -1px -1px 3px rgba(0,0,0,0.5);
}

#MeContacter:target{
    display:inline-block;
}

a#Fermer{
    display:block;
    text-align: right;
    top: -20px;
    right: -20px;
}

#Fermer{
    position: relative;
    
}

#competences h2{
    background-color: rgba(0,0,0,0.2);
    padding:5px;
}
#connaissances h2{
    background-color: rgba(0,0,0,0.2);
    padding:5px;
}
#formations h2{
    background-color: rgba(0,0,0,0.2);
    padding:5px;
}

#cible:target{
    display: block;
}


@keyframes zoomout {
  from {
    width: 130px;
  }
  to {
    width: 0px;
  }
}
@keyframes bombeout {
  from {
    margin-left: 0px;
    width:128px;
  }
  to {
    margin-left: 2500px;
    width:0px;
  }
}
@keyframes descendre {
  from {
    top: -2550px;
  }
  to {
    top: 0px;
  }
}


li{
  list-style: none;
  margin:0;
}

#titre{
  animation-delay: 3s;
  animation-duration: 5s;
  animation-name: slideleft; 
  animation-fill-mode: forwards;
  height:50px;
  overflow:hidden;
  margin-left:2550px; 
}

p{
  padding:10px;
}



#formations{
  clear:both;
  z-index:1;
  overflow:hidden;
  /*
    border-top:1px solid rgba(0,0,0,1);
  filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.2));  
    */
}

#diviseur, .diviseur{
  clear:both;
  margin:0;
}


section.colonneA{
  float:left;
  max-width:400px; 
  min-width:300px; 
  display:inline-block;
  vertical-align:top;
  text-align:left;  
  position:relative;
  overflow:hidden;
    /*
  top:6550px;
  animation-delay: 5s;
  animation-duration: 5s;
  animation-name: monter; 
  animation-fill-mode: forwards; 
    */
  height:100%; 
}

@keyframes monter {
  from {
    top: 6550px;
  }
  to {
    top: 0px;
  }
}

.colonneB li:first-line {
  font-weight:bolder;
  text-shadow:1px 1px 1px rgba(0,0,0,0.1);
}

section.colonneB{
  max-width:400px;
  min-width:300px;
  display:inline-block;
  vertical-align:top;
  text-align:left;
  margin:0 20px;
  position:relative;
  
  overflow:hidden;
    /*
  top:-2250px;
  animation-delay: 10s;
  animation-duration: 5s;
  animation-name: descendre; 
  animation-fill-mode: forwards; 
    */
  height:100%;
}

@keyframes descendre {
  from {
    top: -2550px;
  }
  to {
    top: 0px;
  }
}

section.colonneC{
  float:right;
  max-width:400px;
  min-width:300px;
  display:inline-block; 
  vertical-align:top;
  text-align:left;
  
  position:relative;
  overflow:hidden;
    /*
  top:6000px;
  animation-delay: 3s;
  animation-duration: 5s;
  animation-name: diagonale; 
  animation-fill-mode: forwards; 
  */
  height:100%;
}

@keyframes diagonale {
  from {
    left: -3000px;
    top: 6000px;
  }
  to {
    left: 0px;
    top: 0px;
  }
}
