*{    
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

#cible:target{
    display: block;
}

@keyframes zoomin {
  from {
    width: 0px;
  }
  to {
    width: 130px;
  }
}

@keyframes zoomout {
  from {
    width: 130px;
  }
  to {
    width: 0px;
  }
}
@keyframes bombeout {
  from {
    margin-left: 0px;
    width:128px;
  }
  to {
    margin-left: 2500px;
    width:0px;
  }
}

@keyframes slideleft {
  from {
    margin-left: 2550px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes descendre {
  from {
    top: -2550px;
  }
  to {
    top: 0px;
  }
}

#bombe{
    display:none;
}

#bombe:target{
    display: block;
    position: absolute;
    width:150px;
    height:150px;
    margin-top:10px;
    margin-left:10px;
    padding:20px;
    z-index:10;
}

#bombeclose:target{
  animation-delay: 0s;
  animation-duration: 5s;
  animation-name: bombeout; 
  animation-fill-mode: forwards;    
}

html {
	margin: 0;
	padding: 0;	
}

h1, h2, h3, h4, h5, h6{
  text-shadow:1px 1px 1px rgba(0,0,0,0.1);
  padding:0 10px;
}

h1{font-size: 24px;font-weight:600;text-shadow:2px 2px 2px rgba(0,0,0,0.2);}
h2{font-size: 20px;font-weight:580;}
h3{font-size: 18px;font-weight:560;}
h4{font-size: 17px;font-weight:540;}
h5{font-size: 16px;font-weight:520;}
h6{font-size: 15px;font-weight:500;}

a, a:link, a:visited,a:hover{
  color:rgba(0,0,0,1);
  text-decoration:none;
}

section{
  padding:10px;
  background-color: inherit;
  z-index:1;
  border:1px solid rgba(0,0,0,0);
}

section:hover{
  background-color:rgba(30,115,190,0.2);
  border:1px solid rgba(0,0,0,1);
}

li{
  list-style: none;
  margin:0;
}

#titre{
  animation-delay: 3s;
  animation-duration: 5s;
  animation-name: slideleft; 
  animation-fill-mode: forwards;
  height:50px;
  overflow:hidden;
  margin-left:2550px; 
}

p{
  padding:10px;
}

body{
  background-color: rgba(255,255,255,1);
  font-family: tahoma, arial, helvetica, lucida sans, sans-serif;
  color:rgba(0,0,0,0.95);
  border: 0px solid rgba(0,0,0,1); 
  max-width:1200px;
  margin:0 auto; 
  padding:20px;
  line-height:normal;
  z-index:1;
}

header{
  z-index:1;
  height:170px;
  overflow:hidden;
  border-bottom:1px solid rgba(0,0,0,1);
  filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.2));
}

#formations{
  clear:both;
  z-index:1;
  overflow:hidden;
  border-top:1px solid rgba(0,0,0,1);
  filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.2));  
}

main, article {
  display:block;
  max-width:100%;
  min-width:400px;	
  margin:0 auto;
  clear:both;
  max-height:100%;
  z-index:1;
}

#diviseur, .diviseur{
  clear:both;
  margin:10px auto;
}

#photo{
  z-index:1;
  float:right;
  margin:auto 10px;
  width:0px;
  display:inline;
  border: 1px solid rgba(0,0,0,0.2);
  animation-duration: 5s;
  animation-name: zoomin; 
  animation-fill-mode: forwards; 
}

#photo:hover{
  animation-duration: 5s;
  animation-name: zoomout; 
  animation-fill-mode: forwards; 
}

#poste{
  display:inline-block;
  float:right;
  z-index:1; 
  margin-top:135px;
}

#nom{
  float:left; 
  display:inline-block;
}

#mission{
  font-weight:smaller;
}

#blockpage{  
  clear:both;
  z-index:1;
  max-width:1300px;
  vertical-align:top;
  text-align:center;
  position:relative;   
}

section.colonneA{
  float:left;
  max-width:400px; 
  min-width:300px; 
  display:inline-block;
  vertical-align:top;
  text-align:left;  
  position:relative;
  overflow:hidden;
  top:6550px;
  animation-delay: 5s;
  animation-duration: 5s;
  animation-name: monter; 
  animation-fill-mode: forwards;  
  height:100%; 
}

@keyframes monter {
  from {
    top: 6550px;
  }
  to {
    top: 0px;
  }
}

.colonneB li:first-line {
  font-weight:bolder;
  text-shadow:1px 1px 1px rgba(0,0,0,0.1);
}

section.colonneB{
  max-width:400px;
  min-width:300px;
  display:inline-block;
  vertical-align:top;
  text-align:left;
  margin:0 20px;
  position:relative;
  
  overflow:hidden;
  top:-2250px;
  animation-delay: 10s;
  animation-duration: 5s;
  animation-name: descendre; 
  animation-fill-mode: forwards; 
  height:100%;
}

@keyframes descendre {
  from {
    top: -2550px;
  }
  to {
    top: 0px;
  }
}

section.colonneC{
  float:right;
  max-width:400px;
  min-width:300px;
  display:inline-block; 
  vertical-align:top;
  text-align:left;
  
  position:relative;
  overflow:hidden;
  top:6000px;
  animation-delay: 3s;
  animation-duration: 5s;
  animation-name: diagonale; 
  animation-fill-mode: forwards; 
  
  height:100%;
}

@keyframes diagonale {
  from {
    left: -3000px;
    top: 6000px;
  }
  to {
    left: 0px;
    top: 0px;
  }
}
